<h2>{{driver.givenName}} {{driver.familyName}}</h2>
<p>
	Nationality: {{driver.nationality}}
</p>
<p>
	Date of birth: {{dateFormat driver.dateOfBirth format="D. MMMM YYYY"}}
</p>
<p>
	<a href="{{driver.url}}" rel="external" target="_blank">More Information</a>
</p>
